<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Lab 01 - TR·ª∞C QUAN HO√Å D·ªÆ LI·ªÜU üìå
</div>

<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Giai ƒëo·∫°n 2 - EDA (ti·∫øp) üìå
</div>

In [2]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

warnings.simplefilter('ignore')

### ƒê·ªçc d·ªØ li·ªáu

In [3]:
df = pd.read_csv('./data/Water_Cleaner_2.csv', parse_dates=['Date'], date_parser=lambda x: pd.to_datetime(x, format='%Y-%m-%d'))

In [11]:
df[['Date','Depth_to_Groundwater','Temperature','Drainage_Volume','River_Hydrometry','Rainfall']]

,Date,Depth_to_Groundwater,Temperature,Drainage_Volume,River_Hydrometry,Rainfall
0,2009-01-01,-31.048571,1.657143,-28164.918857,2.371429,0.0
1,2009-01-08,-30.784286,4.571429,-29755.789714,2.314286,2.0
2,2009-01-15,-30.420000,7.528571,-25463.190857,2.300000,0.2
3,2009-01-22,-30.018571,6.214286,-23854.422857,2.500000,4.1
4,2009-01-29,-29.790000,5.771429,-25210.532571,2.500000,9.9
...,...,...,...,...,...,...
595,2020-05-28,-24.697143,17.214286,-25591.062857,2.414286,24.6
596,2020-06-04,-24.638571,18.785714,-24567.099429,2.628571,46.2
597,2020-06-11,-24.751429,19.200000,-27178.416000,2.771429,20.0
598,2020-06-18,-24.822857,21.942857,-28030.134857,2.600000,1.4
599,2020-06-25,-25.145000,26.383333,-31131.504000,2.433333,0.0

### C√¢u 1: ...?

**M·ª•c ƒë√≠ch:**

**Tr∆∞·ªùng d·ªØ li·ªáu ƒë∆∞·ª£c s·ª≠ d·ª•ng:**

**Bi·ªÉu ƒë·ªì s·ª≠ d·ª•ng:**

**L√Ω do s·ª≠ d·ª•ng:**

**Nh·∫≠n x√©t:**

### C√¢u 1: ...?

**M·ª•c ƒë√≠ch:**

**Tr∆∞·ªùng d·ªØ li·ªáu ƒë∆∞·ª£c s·ª≠ d·ª•ng:**

**Bi·ªÉu ƒë·ªì s·ª≠ d·ª•ng:**

**L√Ω do s·ª≠ d·ª•ng:**

**Nh·∫≠n x√©t:**

### C√¢u 1: ...?

**M·ª•c ƒë√≠ch:**

**Tr∆∞·ªùng d·ªØ li·ªáu ƒë∆∞·ª£c s·ª≠ d·ª•ng:**

**Bi·ªÉu ƒë·ªì s·ª≠ d·ª•ng:**

**L√Ω do s·ª≠ d·ª•ng:**

**Nh·∫≠n x√©t:**

### C√¢u 1: ...?

**M·ª•c ƒë√≠ch:**

**Tr∆∞·ªùng d·ªØ li·ªáu ƒë∆∞·ª£c s·ª≠ d·ª•ng:**

**Bi·ªÉu ƒë·ªì s·ª≠ d·ª•ng:**

**L√Ω do s·ª≠ d·ª•ng:**

**Nh·∫≠n x√©t:**

### C√¢u 1: ...?

**M·ª•c ƒë√≠ch:**

**Tr∆∞·ªùng d·ªØ li·ªáu ƒë∆∞·ª£c s·ª≠ d·ª•ng:**

**Bi·ªÉu ƒë·ªì s·ª≠ d·ª•ng:**

**L√Ω do s·ª≠ d·ª•ng:**

**Nh·∫≠n x√©t:**

### C√¢u 1: ...?

**M·ª•c ƒë√≠ch:**

**Tr∆∞·ªùng d·ªØ li·ªáu ƒë∆∞·ª£c s·ª≠ d·ª•ng:**

**Bi·ªÉu ƒë·ªì s·ª≠ d·ª•ng:**

**L√Ω do s·ª≠ d·ª•ng:**

**Nh·∫≠n x√©t:**